<div>
  <h3>
    Create Employee
  </h3>

  <form (ngSubmit)="createEmployee()">

    <div class="form-group">
      First Name
      <input type="text" name="first_name" 
        class="form-control" [(ngModel)]="employee.first_name" />
    </div>

    <div class="form-group">
      Last Name
      <input type="text" name="last_name" 
        class="form-control" [(ngModel)]="employee.last_name" />
    </div>

    <div class="form-group">
      City
      <input type="text" name="city" 
        class="form-control" [(ngModel)]="employee.city"/>
    </div>

    <input type="submit" class="btn btn-info" />

  </form>

</div>


<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>